body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Style the header */
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
   /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);*/
    background-color: #fff;
    border-radius: 10px;
}

.text-area {
    flex: 1;
    padding: 20px;
}

.text-area h2 {
    margin-bottom: 10px;
}

.text-area p {
    margin-bottom: 20px;
    color: #555;
}

.picture-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-area img {
    width: 450px;
    height: 450px;
    border-radius: 0px 0px 50% 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}



@media (max-width: 667px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text-area, .picture-area {
        margin-bottom: 20px;
    }
}

/* contact form button */
input[type=submit],
input[type=reset] {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  background-color: #454141;
  color: #fff;
}

/* column */
.contactform-column {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
  }
  
  /* row */
  .contactform-row:after {
    content: "";
    display: table;
    clear: both;
    margin: 0 auto;
  }
  
  
  /* Contact us form text box */
  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 18px;
    border: 2px solid #909090;
    margin-top: 12px;
    margin-bottom: 32px;
    resize: vertical;
  }